{% extends 'base.html' %}

{% block title %}ваші повідомлення{% endblock %}


{% block content %}

    <div class="notifications-top">
        <form method="get" id="sortForm" style="margin-bottom: 6px;">
            {{ sort_form.sort_by }}
        </form>
        
        <a href="{% url 'mark_all_as_read' %}" style="margin-left: 60vw;"><button>помітити все прочитаним</button></a>
    </div>

    {% for notification in notifications %}
        <p class="notification"><a href="{% url 'mark_as_read' notification.id %}" style="width: 98%;">{{notification.message}}</a> <span>{% if not notification.is_read %}●{% endif %}</span></p>
    {% empty %}
        <p class="no-notifications">Немає нових сповіщень</p>
    {% endfor %}

    <script>
        document.querySelector('[name="sort_by"]').addEventListener('change', function() {
            document.getElementById('sortForm').submit();
        });
    </script>

{% endblock %}
