body {
    margin: 0;
    background-color: #101217;
    display: flex;
}

p {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}


a {
    text-decoration: none;
}

ul {
    color: white;
}


.custom-summary {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 5px; /* Відступ між стрілкою та текстом */
}

.custom-details-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.custom-details.open .custom-details-content {
    max-height: 500px; /* Достатньо велике значення */
    opacity: 1;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.open .arrow {
    transform: rotate(180deg);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #101217;
    border-bottom-style: solid;
    border-color: #21242f;
    border-width: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000; /* Щоб було поверх sidebar */
}

.search-container {
    position: relative;
    display: inline-block;
}

.search {
    width: 50%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: #ddd;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.search:focus {
    border-color: #6200ea;
}

.search-results {
    position: absolute;
    top: 105%; /* Відображати безпосередньо під полем вводу */
    margin-left: 23%;
    margin-right: 25%;
    width: 50%;
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-top: none;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    z-index: 1000;
    display: none; /* Ховаємо за замовчуванням */
}

.search-results.active {
    display: block; /* Показуємо, коли є результати */
}

.search-results div {
    padding: 8px 12px;
    font-size: 14px;
    color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-results div:hover {
    background-color: #333;
}

.search-results a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.search-results a:hover {
    text-decoration: underline;
}

.right-group-header {
    margin: 25px;
}

.right-group-header a img {
    width: 30px;
}



.sidebar {
    width: 250px;
    height: calc(98% - 60px);
    background-color: #101217;
    border-right-style: solid;
    border-color: #21242f;
    border-width: 1px;
    color: white;
    padding: 20px;
    padding-top: 0px;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 55px; /* Щоб не перекривати header */
}

.sidebar-button {
    border-radius: 10px;
    padding-left: 10px;
    height: 55px;
}

.pressed {
    background-color: #555 !important;
}

.sidebar-button:hover {
    background-color: #444;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.sidebar a span {
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.square-img {
    object-fit: cover; /* Обрізає краї, щоб зображення заповнило квадрат */
    object-position: center; /* Центрує зображення */
    border-radius: 10px; /* Опціонально: закруглені кути */
}

.community-header {
    margin: 0 auto;
    margin-top: 30px;
    width: 85%;
}

.background-image {
    width: 100%;
    height: 140px;
    z-index: -1;
}

.community-icon {
    margin-left: 5%;
    margin-top: -25px;
    border-style: solid;
    border-color: #101217;
}

.post {
    border: 1px, solid, #21242f;
    border-radius: 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
}

.post-img {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #21242f;
    width: 100%;
    height: 100%;
}

.post-head {
    display: flex;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #21242f;
}

.post-head p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.post-bottom {
    display: flex;
    justify-content:space-between;
}

.post-details {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.back-button {
    border-radius: 90px;
    width: 30px;
    height: 30px;
}

.comment-input {
    width: 100%;
    height: 30px;
    background-color: #101217;
    color: white;
    border: 1px solid #444;
    border-radius: 10px;
    border-color: #21242f;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.comment-input:focus {
    border-color: #3700b3;
}


.content {
    width: 100%;
    margin-left: 270px; /* Щоб контент не перекривав sidebar */
    padding: 32px;
    
}


.reviews {
    display: flex;
}

.left-review-side {
    width: 40%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    border-right-style: solid;
}

.right-review-side {
    width: 59%;
    margin-left: auto;
    margin-right: auto;
}


.notifications-top {
    display: flex;
    margin-top: 30px;

}

.notification {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #21242f;
    padding: 5px;
}

.notification a {
    color: white;
}

.no-notifications {
    text-align: center;
    color: #888;
    font-size: 16px;
    margin-top: 20px;
}


.profile-base {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.profile-base p, h2 {
    margin: 2px;
    margin-bottom: 0;
}

.explore-communities-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.explore-community-container {
    display: flex;
    margin-left: 5%;
    width: 25%;
    padding: 5px;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #21242f;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.explore-community-container:hover {
    background-color: #343434;
}

.explore-community-container h2 {
    max-width: 100%;  /* Обмежує ширину заголовка */
    overflow: hidden; 
    text-overflow: ellipsis; /* Додає "..." для обрізаного тексту */
    white-space: nowrap; /* Запобігає переносу слів */
    word-break: break-word; /* Обрізає слова на половині */
}

.explore-description {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Обрезать после 3 строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em; /* Высота = 3 строки (зависит от line-height) */
    line-height: 1.5em;
    word-break: break-word;
}

/* Загальний стиль скролбара */
::-webkit-scrollbar {
    width: 10px; /* Ширина скролбара */
}

/* Стиль доріжки (фон скролбара) */
::-webkit-scrollbar-track {
    background: #1a1a1a; /* Темний фон */
    border-radius: 5px;
}

/* Стиль повзунка (самої лінії прокрутки) */
::-webkit-scrollbar-thumb {
    background: #444; /* Темно-сірий повзунок */
    border-radius: 5px;
}

/* Ефект при наведенні */
::-webkit-scrollbar-thumb:hover {
    background: #666; /* Світліший відтінок при наведенні */
}

.custom-scroll::-webkit-scrollbar {
    width: 8px; /* Ширина скролбару */
}

.custom-scroll::-webkit-scrollbar-track {
    background: none; /* Фон доріжки */
    border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #444; /* Колір повзунка */
    border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #666; /* Колір при наведенні */
}


select[name="sort_by"] {
    background-color: #222; /* Темний фон */
    color: #ddd; /* Світлий текст */
    border: 1px solid #444; /* Темний контур */
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Обрезать после 3 строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em; /* Высота = 3 строки (зависит от line-height) */
    line-height: 1.5em;
}

select[name="sort_by"]:hover {
    background-color: #333;
}

select[name="sort_by"]:focus {
    border-color: #888;
}


button {
    background-color: #6200ea;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #3700b3;
}

.login-form {
    padding: 20px;
    width: 70%;
    margin: 20px auto;
}

.login-form h2 {
    color: #fff;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
    border-radius: 5px;
}

.login-form button {
    width: 103%;
    padding: 10px;
    background-color: #6200ea;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background-color: #3700b3;
}

.other-variant {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #bb86fc;
    text-decoration: none;
}

.other-variant:hover {
    text-decoration: underline;
}