{% extends 'base.html' %}

{% block title %}Глобальні правила сайту{% endblock %}


{% block content %}

    <h1>Правила форуму</h1>
            
    <h2>1. Загальні положення</h2>
    <ul>
        <li>1.1. Реєструючись на форумі, користувач погоджується дотримуватись цих правил.</li>
        <li>1.2. Адміністрація залишає за собою право змінювати правила в будь-який час.</li>
        <li>1.3. Незнання правил не звільняє від відповідальності.</li>
    </ul>

    <h2>2. Поведінка на форумі</h2>
    <ul>
        <li>2.1. Заборонені образи, погрози, дискримінація, ненависть та розпалювання ворожнечі.</li>
        <li>2.2. Спам, реклама та розсилання непотрібних повідомлень заборонені.</li>
        <li>2.3. Використовуйте пошук перед створенням нових тем, щоб уникнути дублювання.</li>
        <li>2.4. Заборонено флудити (публікувати беззмістовні або повторювані повідомлення).</li>
        <li>2.5. Не розголошуйте особисті дані інших користувачів без їх згоди.</li>
    </ul>

    <h2>3. Контент</h2>
    <ul>
        <li>3.1. Заборонено розповсюдження незаконного контенту (піратський софт, наркотики, шахрайство тощо).</li>
        <li>3.2. Не допускається публікація контенту, що порушує авторські права.</li>
        <li>3.3. Заборонено порнографію, насильство, жорстокість та інші неприйнятні матеріали.</li>
    </ul>

    <h2>4. Акаунти та безпека</h2>
    <ul>
        <li>4.1. Заборонено створення кількох акаунтів однією особою без дозволу адміністрації.</li>
        <li>4.2. Користувач відповідає за безпеку свого облікового запису.</li>
        <li>4.3. Заборонено передавати свої облікові дані третім особам.</li>
    </ul>

    <h2>5. Адміністрація та модерація</h2>
    <ul>
        <li>5.1. Адміністрація має право змінювати або видаляти контент, який порушує правила.</li>
        <li>5.2. Рішення адміністрації та модераторів обов’язкові до виконання.</li>
        <li>5.3. Обговорення дій модераторів дозволене лише в спеціальному розділі або через приватні повідомлення.</li>
    </ul>

    <h2>6. Покарання за порушення</h2>
    <ul>
        <li>6.1. За порушення правил користувач може отримати попередження, тимчасове блокування або бан.</li>
        <li>6.2. Ступінь покарання визначається адміністрацією залежно від серйозності порушення.</li>
        <li>6.3. Оскаржити блокування можна через спеціальну форму або звернувшись до адміністрації.</li>
    </ul>

{% endblock %}
