<div class="post" id="{{post.id}}">
    {% if not post.deleted %}
    <a href="{% url 'community' post.community.slug %}">
        <div class="post-head">
            <img src="{{ post.community.icon.url }}" alt="icon" width="30" height="30" class="square-img">
            <p>{{ post.community.name }}</p>
            <p>●</p>
            <p>{{ post.created_at|timesince }}</p>
        </div>
    </a>
    <a href="{% url 'post' post.community.slug post.pk %}">
        <div class="post-title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post-body">
            {% if post.image %}
                <img class="post-img" src="{{ post.image.url }}" alt="post img" width="200px">
            {% else %}
                <p class="truncated-text">{{ post.content|striptags }}</p>
            {% endif %}
        </div>
    </a>
    <div class="post-bottom">
        <div style="display: flex;">
            <button style="border-top-right-radius: 0; border-bottom-right-radius: 0; font-size: 16px;">🡅  {{ post.rating_count }}</button>
            <button style="border-top-left-radius: 0; border-bottom-left-radius: 0; font-size: 16px;">🡇</button>
        </div>
        
        <a href="{% url 'post' post.community.slug post.pk %}#comment-form"><button style="font-size: 16px;"><img src="/static/images/speech-bubble.png" alt="speech" width="15px" height="15px" style="margin-bottom: -2px;"> {{ post.comment_count }}</button></a>
    </div>
    {% else %}

        видалений пост

    {% endif %}
</div>