{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}

    {% include 'profile_base.html' %}

    {% for post in actions %}
      
        {% if post|class_name == "Post" %}
            {% include 'post.html' %}
        {% elif post|class_name == "Comment" %}
            <div class="post">
                <strong>Коментар:</strong> {{ post.text }}<br>
                <em>До поста: "{{ post.post.title }}"</em><br>
                <em>Дата: {{ post.created_at }}</em>
            </div>  
        {% endif %}
      
    {% empty %}
      <p>Немає активності</p>
    {% endfor %}

{% endblock %}