{% extends 'base.html' %}

{% block title %}Пошук ком'юніті{% endblock %}


{% block content %}

    <h1>Випадкові</h1>
    <div class="explore-communities-container">
        {% for community in random_communities %}
            <a href="{%url 'community' community.slug %}"><div class="explore-community-container"><img src="{{community.icon.url}}" alt="community-icon" width="30px" height="30px" class="square-img"><h2>{{community.name}}</h2></div></a>
        {% endfor %}
    </div>

    <h1>За активністю</h1>

    {% for community in communities_by_posts %}
        <a href="{%url 'community' community.slug %}"><div class="explore-community-container"><img src="{{community.icon.url}}" alt="community-icon" width="30px" height="30px" class="square-img"><h2>{{community.name}}</h2></div></a>
    {% endfor %}

    <h1>За учасниками</h1>

    {% for community in communities_by_followers %}
        <a href="{%url 'community' community.slug %}"><div class="explore-community-container"><img src="{{community.icon.url}}" alt="community-icon" width="30px" height="30px" class="square-img"><h2>{{community.name}}</h2></div></a>
    {% endfor %}

{% endblock %}
